<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-todo-list</title>
</head>
<body>
    <div id="app">
        <input v-model="inputValue" type="text" />
        <button v-on:click="handleAddBtn">提交</button>
        <ul>
            <li v-for="item in list">{{ item }}</li>
        </ul>
    </div>

    <script src="https://cdn.staticfile.org/vue/2.6.2/vue.js"></script>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                list: ['1', '2'],
                inputValue: ''
            },
            methods: {
                handleAddBtn() {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }
            },
        })
    </script>
</body>
</html>